<div class="text-center border p-4">
  <h1>About</h1>
  <h3>nagomiyaにご来店ありがとうございます。<br>
    日々のストレスやお疲れの心身のケアはいかがですか？<br>
    全身のもみほぐし、アロマトリートメントもございます。<br>
    和んでいただけるよう、リラックスできる空間と<br>
    丁寧な施術を心がけています。<br>
    ご予約お待ちしています。</h3>
  
  <%= image_tag 'no_image.jpg',size: "200x200", class: 'image-class' %> <!-- 画像のパスとクラスを指定 -->
</div>