<div class="container text-center" style="background-color: #eef5f2; padding: 50px 0;">
  <div class="border p-4" style="background-color: #f8fbfa;">
    <h1 style="color: #5a8770;">About</h1>
    <h3 style="color: #6d8c7c;">
      nagomiyaにご来店ありがとうございます。<br>
      日々のストレスやお疲れの心身のケアはいかがですか？<br>
      全身のもみほぐし、アロマトリートメントもございます。<br>
      和んでいただけるよう、リラックスできる空間と<br>
      丁寧な施術を心がけています。<br>
      ご予約お待ちしています。
    </h3>

    <%= image_tag 'nagomiya_logo.png', size: "300x300", class: 'image-class', style: 'margin-top: 20px;' %> <!-- 画像のパスとクラスを指定 -->
  </div>
</div>
