<div class="container text-center">
  <div class="border p-4">
    <h3>nagomiyaにようこそ!</h3>
    <p>
      このページはリラクゼーションの予約サイトです。<br>
      ゲストログインでもご予約が可能ですが、<br>
      会員になるとご予約が便利になります。
    </p>
  </div>
  
  <!-- おすすめメニューのセクション -->
  <div class="recommended-menus mt-5">
    <h2>おすすめメニュー</h2>
    
    <div class="row">
      <% @service_menus.limit(4).each do |service_menu| %>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <% if service_menu.image.attached? %>
                <%= image_tag service_menu.image, style: 'width: 100%; height: auto;' %>
              <% else %>
                画像なし
              <% end %>
              <h5 class="card-title"><%= service_menu.course_name %></h5>
              <p class="card-text"><%= service_menu.price_incl_tax %>円</p>
              <%= link_to 'メニュー詳細', public_service_menus_path(service_menu), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
