<div class="container text-center" style="background-color: #eef5f2; padding: 50px 0;">
  <div class="border p-4" style="background-color: #f8fbfa;">
    <h3 style="color: #5a8770;">nagomiyaにようこそ!</h3>
    <p style="color: #6d8c7c;">
      このページはリラクゼーションの予約サイトです。<br>
      ゲストログインでもご予約が可能ですが、<br>
      会員になるとご予約が便利になります。
    </p>
  </div>
  
  <!-- おすすめメニューのセクション -->
  <div class="recommended-menus mt-5">
    <h2 style="color: #5a8770;">おすすめメニュー</h2>
    
    <div class="row">
      <% @service_menus.limit(4).each do |service_menu| %>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <% if service_menu.image.attached? %>
                <%= image_tag service_menu.image, style: 'width: 100%; height: auto;' %>
              <% else %>
                画像なし
              <% end %>
              <h5 class="card-title" style="color: #5a8770;"><%= service_menu.course_name %></h5>
              <p class="card-text" style="color: #6d8c7c;"><%= service_menu.price_incl_tax %>円</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-right mt-3">
      <%= link_to 'メニューの一覧', public_service_menus_path(@service_menu), class: 'btn btn-outline-success' %>
    </div>
  </div>
</div>
