<div class="container mt-5">
  <h1 class="mb-4">新しいレビュー</h1>

  <%= render 'form', review: @review %>

  <div class="mt-3">
    <%= link_to '戻る', admin_reviews_path, class: 'btn btn-secondary' %>
  </div>
</div>
