<h1 class="text-center mb-4">施術メニューの編集</h1>

<%= render 'form', service_menu: @service_menu %>

<div class="text-center mt-3">
  <%= link_to '戻る', admin_service_menus_path, class: 'btn btn-secondary' %>
</div>
