<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">ご予約いただきありがとうございます！</h1>
    <p class="lead">ご予約が正常に完了しました。ご来店を心よりお待ちしております。</p>
    <hr class="my-4">
    <p>もし予約の変更やキャンセルが必要な場合は、お気軽にお問い合わせください。</p>
  </div>
</div>
