<div class="container mt-5">
  <h1 class="mb-4">評価と口コミ</h1>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>評価1から5</th>
        <th>コメント</th>
        <th>匿名</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.rating %></td>
          <td><%= review.comment %></td>
          <td><%= review.anonymous_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= link_to '口コミ新規投稿', new_public_review_path, class: 'btn btn-primary' %>
  </div>
</div>
